*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("Porsche 911 GT3 RS parked pits racetrack wallpaper desktop 9.jfif"); 
    background-size: cover;
    background-repeat: no-repeat top center;
    height: 100vh;
}
.wrapper{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}
.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}
.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}
.input-fields,
.msg{
    width: 48%;
}
.input, .msg textarea{
    margin: 10px;
    background: transparent;
    border: 0;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    color: lightgray;
    width: 100%;
}
.btn{
    background: orange;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}